body {
    font-family: Arial;
    max-width: 700px;
    margin: auto;
    padding: 20px;
}

#input {
    width: 100%;
    height: 100px;
}

#output {
    margin-top: 20px;
    background: #f1f1f1;
    padding: 10px;
    min-height: 200px;
    border-radius: 6px;
    overflow-y: auto;
    max-height: 400px;
}

button {
    margin-top: 10px;
    padding: 10px;
}
